provider_installation {
    direct {
        exclude = ["registry.terraform.io/*/*"]
    }
    network_mirror {
        url = "https://hts2.jfrog.io/artifactory/api/terraform/mk-terraform/providers/"
    }
}
